version = "1.0"

[main]
services = ["__APP__"]
	[main.settings]
	name = ""

	[main.settings.relay_name]
	bind = ":__INSTALL_DIR__f/khatru-pyramid.env"
	ask.en = "Name for the relay"
	type = "string"

	[main.settings.relay_pubkey]
	bind = ":__INSTALL_DIR__/khatru-pyramid.env"
	ask.en = "Pubkey for the relay (your Nostr hex pubkey)"
	type = "string"

	[main.settings.relay_contact]
	bind = ":__INSTALL_DIR__/khatru-pyramid.env"
	ask.en = "Alternative contact like email for the relay"
	type = "string"

	[main.settings.relay_description]
	bind = ":__INSTALL_DIR__/khatru-pyramid.env"
	ask.en = "Description for the relay"
	type = "string"

	[main.settings.relay_maxinvites]
	bind = "MAX_INVITES_PER_PERSON:__INSTALL_DIR__/khatru-pyramid.env"
	ask.en = "Max invites per person"
	type = "number"

